<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->
<h2>Upload</h2>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type="file" name="document">
	<!-- <button type="submit" class="btn btn-success">Upload File</button> -->
	<button type="submit">Upload File</button>
</form>
		